@import "theme.scss";

.dateSummary {
    background-color: $date-summary; 
    text-align: center;
    color: $date-summary-text;
    padding: 10px 30px;
    width: max-content;
    border-radius: 25px;

    h1 {
    font-weight: 900;
    font-size: 35px;
    line-height: 42px;
    }
    p {
    font-weight: 900;
        font-size: 16px;
        line-height: 19px;
    }
}

.minidateSummary {
    background-color: $mini-date-summary;
    color: $mini-date-summary-text;
    width: max-content;
    padding: 13px 21px;
    border-radius: 15px;
    h1 {
            font-weight: 900;
            font-size: 28px;
            line-height: 34px;
        }
}