$primary-color: #2B21A6;
$primary-light-color: #E9EFFF;
$secondary-color: #FF9331;
$category-cycling-color: #1DA7C5;
$unfinished-color: #ED999A;
$modal-selector-color: #474747;
$calendar-selector-color: #6F6F6F;

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}