@import 'theme.scss';

.notificationsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1em;
    max-width: 25em;
    width: 100%;
    height: max-content;

    .notIcon {
        background-color: $primary-light-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 1.5em;
        height: 100%;
        min-height: 1.5em;
        aspect-ratio: 1;
        padding: .7em;
        margin: 0 0.8em;
        border-radius: 30%;
        position: relative;
        cursor: pointer;
    
        .iconLight {
            position: absolute;
            top: 0;
            right: 0;
            height: 30%;
            width: 30%;
            border-radius: 50%;
            background-color: $secondary-color;
        }
    }
}
