@import "theme.scss";


$input-icon-width: 4em;

.searchContainer{
    width: 100%;
    max-width: 400px;
    height: max-content;
    position: relative;
}

.searchIconContainer{
    height: 100%;
    width: $input-icon-width;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.searchInput{
    padding-left: $input-icon-width;
    height: 4em;
    width: 100%;
    background-color: $grey-search-bar;
    border-radius: 1.5em;
    border: none;
    font-weight: 600;
    width: 100%;
    color: #000A;
}

.searchInput:focus{
    outline: 2px solid $secondary-color;
}