@import 'theme.scss';

$menu-item-height: 5rem;
$sidebar-side-padding: 4rem;

.container {
    position: fixed;
    top: $navbar-height;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5em;
    align-items: center;
    padding: 5rem $sidebar-side-padding;
    transition: left 0.7s linear;

    .title {
        font-weight: 600;
        width: 100%;
        text-align: left;
        font-size: 2.2rem;
    }

    .menu {
        list-style: none;
        width: 100%;
        position: relative;

        .menuSelector{
            $left-position: -1.5rem;
            
            position: absolute;
            height: $menu-item-height ;
            width: calc(100% + $sidebar-side-padding - $left-position);
            border-radius: 10px 0px 0px 10px;
            top: 0;
            left: $left-position;
            background-color: #E5E7F3;
            z-index: -1;
            transition: top 0.3s;          
        }

        .menuItem {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 800;
            gap: 3rem;
            height: $menu-item-height;
            width: 100%;
            color: #9A9A9A;
            cursor: pointer;
            white-space: nowrap;

            div {
                pointer-events: none;
            }

            div:nth-child(1) {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
            }

            &::after {
                content: '';
                width: 0px;
                background-color: transparent;
                transition: width 0.3s, background-color 0.5s;
            }
        }

        .activeMenuItem {
            color: $primary-color;
        }

        .activeMenuItem::after {
            content: '';
            position: absolute;
            right: -$sidebar-side-padding;
            height: 100%;
            width: 5px;
            border-radius: 4px;
            background-color: $primary-color;
        }
    }

    .endNote {
        width: 100%;
        text-align: left;
        color: #888888;

        div:nth-child(1) {
            font-weight: 600;
            margin: 0.5rem 0;
            color: #747474;
         }

        .madeBy {
            margin-top: 2em;
        }
        
    }
}

.containerIsClosed {
    left: -100%;
}

:export {
    menuItemHeight: $menu-item-height
}