@import 'theme.scss';
.bodyContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        font-size: 1.2em;
    
        .componentGroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 3em 0px;
            padding: clamp(0.5em, 3vw,4em);
            outline: 1px solid $category-cycling-color;
            box-shadow: 5px 5px 1px 0px $category-cycling-color,
                        10px 10px 3px black,
                        15px 15px 2px $secondary-color,
                        ;
    
            .groupName{
                text-align: center;
                margin-bottom: 3em;
            }
        }
    }
}
