$primary-color: #2B21A6;
$primary-light-color: #E9EFFF;
$secondary-color: #FF9331;
$category-cycling-color: #1DA7C5;
$unfinished-color: #ED999A;
$modal-selector-color: #474747;
$grey-medium-color: #6F6F6F;
$grey-button-color: #F5F5F5;
$grey-search-bar: #E9E9E9;