$primary-color: #2B21A6;
$primary-light-color: #E9EFFF;
$secondary-color: #FF9331;
$category-cycling-color: #1DA7C5;
$unfinished-color: #ED999A;
$modal-selector-color: #474747;
$modal-selector-background: #D8D8D8;
$grey-medium-color: #6F6F6F;
$grey-button-color: #F5F5F5;
$grey-search-bar: #E9E9E9;
$avatar-info: #999999;
$date-summary: #EDF0FF;
$date-summary-text: #0B2997;
$mini-date-summary: #EEEEEE;
$mini-date-summary-text: #1D3393;